@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/utilities";

// header start
$header-sidebar-width: 15rem;
$header-topbar-height: 2.5rem;
// header end

// Options start
$enable-smooth-scroll: false;
// Options end

$nav-tabs-link-active-bg: $dark;
$nav-tabs-link-active-border-color: $gray-300 $gray-300 transparent;
